node_modules/
out/
build/**/*.js
Terabit*/

dist/
coverage/
npm-debug.log
yarn-error.log
app/node_modules/
.DS_Store
.awcache
.idea/
.vs/
.vscode/*.log
.eslintcache
*.iml
.envrc
junit*.xml
*.swp
tslint-rules/
build/main-process/preload.js
package-lock.json